{% extends 'base.html' %}

{% block content %}
{{ super() }}
			<!-- Logo Block -->

	
		<!-- Page Banner -->
		<div class="container-fluid no-padding page-banner">
			<!-- Container -->
			<div class="container">
				<!-- Banner Heading -->
				<div class="banner-heading">
					<h3>About Us</h3>
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">About Us</li>
					</ol>
				</div><!-- Banner Heading /- -->
			</div><!-- Container /- -->
		</div><!-- Page Banner /- -->
		
		<!-- Why Choose Us -->
		<div class="why-choose-us container-fluid no-padding">
			<div class="section-padding"></div>
			<!-- Container -->
			<div class="container">
				<!-- Section Header -->
				<div class="section-header">
					<h3>Why Choose Us</h3>
					<p>They will have to make the best of things its an uphill climb</p>
				</div><!-- Section Header /- -->
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="why-choose-content">
							<div class="image-box">
								<img src="images/why-choose/why-choose-1.jpg" alt="why choose" />
							</div>
							<div class="why-choose-hover">
								<i><img src="images/icon/medal.png" alt="medal" /></i>
								<h3>Best In The Industry</h3>
								<p>Rogers are blown out of their into an orbit which freezes his life which freezes his life</p>							
							</div>
							<a href="#">Read more</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="why-choose-content">
							<div class="image-box">
								<img src="images/why-choose/why-choose-1.jpg" alt="why choose" />
							</div>
							<div class="why-choose-hover">
								<i><img src="images/icon/customer-support.png" alt="Customer Support" /></i>
								<h3>Customer Support</h3>
								<p>Come and listen to a story about Jed a poor mountaineer barely kept his family fed buck rogers to</p>							
							</div>
							<a href="#">Read more</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="why-choose-content">
							<div class="image-box">
								<img src="images/why-choose/why-choose-1.jpg" alt="why choose" />
							</div>
							<div class="why-choose-hover">
								<i><img src="images/icon/home.png" alt="home" /></i>
								<h3>Special Care On Pets</h3>
								<p>The mate was a mighty sailin' man the two skipper brave and sure. Five </p>							
							</div>
							<a href="#">Read more</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="why-choose-content">
							<div class="image-box">
								<img src="images/why-choose/why-choose-1.jpg" alt="why choose" />
							</div>
							<div class="why-choose-hover">
								<i><img src="images/icon/dogfeek.png" alt="dogfeek" /></i>
								<h3>Best Quality Products</h3>
								<p>Mister we could use a man like Herbert Hoover again. They're creepy and they're kooky mysterious and spooky. They're all togethe</p>
							</div>
							<a href="#">Read more</a>
						</div>
					</div>
				</div>
			</div><!-- Container /- -->
			<div class="section-padding"></div>
		</div><!-- Why Choose Us /- -->
		

		

		<!-- Team -->
		<div class="team team2 container-fluid no-padding">
			<div class="section-padding"></div>
			<!-- Container -->
			<div class="container">
				<div class="section-header">
					<h3>Our Team On Service</h3>
					<p>They will have to make the best of things its an uphill climb</p>
				</div>
				<div class="row">
					<div class="team-thumb">
						<div class="col-md-12">
							<div class="team-member">
								<div class="team-image-box">
									<img src="images/team/team-member-1.jpg" alt="Team Member" />
									<div class="team-content"><h3>Dr. John Francis<span>Veterinary Chief</span></h3></div>
								</div>
								<div class="team-social-icon">
									<ul class="list-inline">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>	
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>						
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="team-member">
								<div class="team-image-box">
									<img src="images/team/team-member-2.jpg" alt="Team Member" />
									<div class="team-content"><h3>Dr. John Francis<span>Veterinary Chief</span></h3></div>
								</div>
								<div class="team-social-icon">
									<ul class="list-inline">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>	
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>						
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="team-member">
								<div class="team-image-box">
									<img src="images/team/team-member-3.jpg" alt="Team Member" />
									<div class="team-content"><h3>Dr. John Francis<span>Veterinary Chief</span></h3></div>
								</div>
								<div class="team-social-icon">
									<ul class="list-inline">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>	
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>						
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="team-member">
								<div class="team-image-box">
									<img src="images/team/team-member-4.jpg" alt="Team Member" />
									<div class="team-content"><h3>Dr. John Francis<span>Veterinary Chief</span></h3></div>
								</div>
								<div class="team-social-icon">
									<ul class="list-inline">
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>	
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>						
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Container /- -->
			<div class="section-padding"></div>
		</div><!-- Team /- -->
		
		<!-- Testimonial -->
		<div class="testimonial container-fluid no-padding">
			<div class="section-padding"></div>
			<!-- Container -->
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-12">
						<div class="section-header">
							<h3>Our Client Says</h3>
						</div>
						<div id="main-carousel" class="carousel slide carousel-fade col-offset-2" data-ride="carousel">
							<div class="carousel-inner" role="listbox">
								<div class="item active item-content">
									<p>Since we're together Fish don't fry in the kitchen and beans don't burn on the grill. Took a whole lotta tryin' just to get up that hill. Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law so lets make it.</p>
									<img src="images/icon/quotes.png" alt="quotes">
									<h2>Roslin Miriyam<span>Premium Client</span></h2>
								</div>
								<div class="item item-content">
									<p>Since we're together Fish don't fry in the kitchen and beans don't burn on the grill. Took a whole lotta tryin' just to get up that hill. Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law so lets make it.</p>
									<img src="images/icon/quotes.png" alt="quotes">
									<h2>Roslin Miriyam<span>Premium Client</span></h2>
								</div>
							</div>
							<a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
								<i class="fa fa-angle-left"></i>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
								<i class="fa fa-angle-right"></i>
								<span class="sr-only">Next</span>
							</a>
						</div><!-- Main Carousel /-  -->
					</div>
					<div class="col-md-5 col-sm-12">
						<div class="avatar-member">
							<div class="col-md-6 col-sm-3">
								<div class="avatar-images">
									<img src="images/testimonial/avatar-1.jpg" alt="avatar-1">
								</div>
							</div>
							<div class="col-md-6 col-sm-3">
								<div class="avatar-images">
									<img src="images/testimonial/avatar-2.jpg" alt="avatar-2">
								</div>
							</div>
							<div class="col-md-6 col-sm-3">
								<div class="avatar-images">
									<img src="images/testimonial/avatar-3.jpg" alt="avatar-3">
								</div>
							</div>
							<div class="col-md-6 col-sm-3">
								<div class="avatar-images">
									<img src="images/testimonial/avatar-4.jpg" alt="avatar-4">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Container /- -->
			<div class="section-padding"></div>
		</div><!-- Testimonial /- -->
		
		<!-- Brands -->
		<div class="brands container-fluid no-padding">
			<div class="section-padding"></div>
			<!-- Container -->
			<div class="container">
				<div class="section-header">
					<h3>Brands We Deal With</h3>
					<p>They will have to make the best of things its an uphill climb</p>
				</div>
				<div class="brand-logo">
					<div class="col-md-12">
						<div class="brands-images">
							<a href="#"><img src="images/brands/brand-1.jpg" alt="brand-1"></a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="brands-images">
							<a href="#"><img src="images/brands/brand-2.jpg" alt="brand-2"></a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="brands-images">
							<a href="#"><img src="images/brands/brand-3.jpg" alt="brand-3"></a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="brands-images">
							<a href="#"><img src="images/brands/brand-4.jpg" alt="brand-4"></a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="brands-images">
							<a href="#"><img src="images/brands/brand-5.jpg" alt="brand-5"></a>
						</div>
					</div>
					<div class="col-md-12">
						<div class="brands-images">
							<a href="#"><img src="images/brands/brand-6.jpg" alt="brand-6"></a>
						</div>
					</div>
				</div>
			</div><!-- Container / -->
			<div class="section-padding"></div>
		</div><!-- Brands / -->


		
{% endblock %}