{% extends 'base.html' %}

{% block content %}
{{ super() }}

		<!-- Photo Slider -->
		<div id="photo-slider" class="photo-slider container-fluid no-padding">
			<!-- Main Carousel -->
			<div id="main-slider" class="carousel slide carousel-fade col-offset-2" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="{{ url_for('static', filename='images/slider-image/slider-1.jpg')}}" alt="slider-1"/>
						<div class="slider-content">
							<div class="container">
								<div class="slide-content slide-content-1">
									<h2>Капельница от запоя на дому</h2>
									<h3 style="color: black;">Работаем 24/7<span>Экстренная наркологическая помощь</span></h3>
									
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div><!-- Main Carousel /-  -->
		</div><!-- Photo Slider /- -->
		
		<!-- Intro -->
		
		


		<!-- Pricing -->
		<div class="pricing container-fluid no-padding">
			<div class="section-padding"></div>
			<!-- section-header -->
			<div class="section-header">
				<h3>Наши услуги</h3>
				
			</div><!-- section-header /- -->
			<!-- Container -->
			<div class="container">
				<div class="col-md-4 col-sm-6">
					<div class="price-table">
						<h5>Процедуры выездной наркологии </h5>
						<div class="price-box">
							<h3><sup></sup>2500<sub>/рублей</sub></h3>
							<ul>
								
								<h4 style="color: black; font-size: 20px;font-family: 'Yusei Magic', sans-serif;">			
								Первичный осмотр <br>
								Диагностические процедуры <br>
								1 этап,от 1 часа <br>
								Успокоительные <br>
								Снотворное <br>
								Анестезия <br>
								Противорвотные <br>
								Процедуры детоксикации <br>
								Капельница <br>
								Медикаменты  <br>
								</h4>
							
							</ul>
							
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="price-table">
						<h5>Standard</h5>
						<div class="price-box">
							<h3><sup></sup>1500<sub>/рублей</sub></h3>
							<ul >
								<h4 style="color: black; font-size: 20px;font-family: 'Yusei Magic', sans-serif;">			
								Первичный осмотр <br>
								Диагностические процедурв <br>
								1 этап ,до 1 часа <br>
								Анестезия <br>
								Противорвотные <br>
								Снотворное <br>
								Укол припоратами от алкогольной интоксикации <br>
								</h4>
							</ul>
							
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="price-table ">
						<h5>Комплекс</h5>
						<div class="price-box">
							<h3><sup></sup>4000<sub>/рублей</sub></h3>
							<ul>
								<h4 style="color: black; font-size: 20px; font-family: 'Yusei Magic', sans-serif;">			
								Первичный осмотр <br>
								Диагностические процедуры <br>
								1 этап,от 1.5 часа <br>
								Успокоительные <br>
								Снотворное <br>
								Анестезия <br>
								Противорвотные <br>
								Процедуры детоксикации <br>
								Капельница <br>
								Укол припаратами от алкогольной интоксикации <br>
								Медикаменты <br>
								</h4>
							</ul>
							
						</div>
					</div>
				</div>
			</div><!-- Container /- -->
			<div class="section-padding"></div>
		</div><!-- Pricing /- -->



		
		<!-- Services -->
		<div id="services" class="services container-fluid no-padding">
			
			<!-- Container -->
			<div class="container">
				<!-- Section Header -->
				<div class="section-header">
					<h3>МЕДСЕСТРА С ВЫЗОВОМ НА ДОМ ОБЕСПЕЧИТ БЫСТРЫЙ ВЫВОД ИЗ ЗАПОЯ</h3>
			
				</div><!-- Section Header /- -->
				<div class="service-tab col-md-9 no-padding">
					<div class="col-md-4 col-sm-5 no-padding">
						<ul class="nav nav-tabs" role="tablist">
							<li class="active" role="presentation">
								<a data-toggle="tab" role="tab" aria-controls="tab-one" href="#tab-one" aria-expanded="true"><i></i>Выезд на дом</a>
							</li>
							<li class="" role="presentation">
								<a data-toggle="tab" role="tab" aria-controls="tab-two" href="#tab-two" aria-expanded="false"><i></i>Причины</a>
							</li>
							<li class="" role="presentation">
								<a data-toggle="tab" role="tab" aria-controls="tab-three" href="#tab-three" aria-expanded="false"><i></i>Диспанцер анонимно</a>
							</li>
							
						</ul>
					</div>
					<div class="tab-content col-md-8 col-sm-7 no-padding">
						<div id="tab-one" class="tab-pane active" role="tabpanel">
							<div  class="tab-box">
								<p style="color: black; font-size: 25px;">Постановка профессиональной медсестрой на дому капельницы от алкоголя - эффективный способ возвращения пациента в нормальное состояние, восстановления работы внутренних органов и систем.Одного укола для этого недостаточно, потребуется назначение разностороннего медикаментозного лечения, после которого нарколог может предложить больному один из возможных способов кодирования от алкоголизма.Принимая вызов на дом, гарантирует своим пациентам полную конфиденциальность и поддержку на протяжении всего процесса лечения.</p></p>
							</div>
						</div>
						<div id="tab-two" class="tab-pane" role="tabpanel">
							<div class="tab-box">
								<p>Редко кому удается самостоятельно побороть тяжелую стадию зависимости. Для полноценного излечения требуется квалифицированная помощь специалистов, прошедших обучение и имеющих немалый опыт. Именно такие врачи работают в нашей клинике: наркологи, психотерапевты, реаниматологи.Вы можете получить наркологические услуги с выездом на дом. Это уместно в тяжелых случаях, например, во время запоя. Наши бригады приезжают на вызов быстро и в любое время суток. Вы получите анонимную оперативную помощь:</p>
								<p></p>
							</div>
						</div>
						<div id="tab-three" class="tab-pane" role="tabpanel">
							<div class="tab-box">
								<p>Первое, что важно учитывать при выборе наркологического диспансера в Ишиме – это анонимность. В частных реабилитационных клиниках обеспечивается 100% конфиденциальность, поэтому о вашей проблеме не узнает никто, включая работодателя, государственные органы и третьих лиц.В государственных диспансерах анонимность не обеспечивается. Все, кто обратился за помощью, ставятся на наркологический учет. Это означает, что человек должен будет регулярно приходить на прием к наркологу и сдавать анализы..</p>
								<p></p>
							</div>	
						</div>
						
					</div>
				</div>
			</div><!-- Container /- -->
			<div class="right-image"><img src="{{ url_for('static', filename='images/services/services.jpg')}}" alt="Service"></div>
			<div class="section-padding"></div>
		</div><!-- Services /- -->
		
		
		
		{% endblock %}
		
		
	
		
		
		

		
		

</html>